.style {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    text-align: center;
  }
  
   .site {
    color: white;
  }
  
.title {
    color: white;
    margin: 0.1rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
  }
  
  @media (min-width: 776px) {
    .style {
      flex-direction: row;
    }
  }
  